<%= form_with(model: user, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul class="list-disc ml-6">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name, "Full Name", for: "user_full_name", class: "block font-medium text-gray-700" %>
    <%= form.text_field :full_name, id: "user_full_name", placeholder: "Enter your full name", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="field">
    <%= form.label :email_address, "Email Address", for: "user_email_address", class: "block font-medium text-gray-700" %>
    <%= form.email_field :email_address, id: "user_email_address", placeholder: "Enter your email address", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="field">
    <%= form.label :password, "Password", for: "user_password", class: "block font-medium text-gray-700" %>
    <%= form.password_field :password, id: "user_password", placeholder: "Enter your password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Password Confirmation", for: "user_password_confirmation", class: "block font-medium text-gray-700" %>
    <%= form.password_field :password_confirmation, id: "user_password_confirmation", placeholder: "Confirm your password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="inline mt-4">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
